{% extends 'base/baseTemplate.twig' %}
{% block content %}
    <div class="row">
        <div class="col-lg-12" id="categories">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 id="subjectName">Equipos</h4>
                </div>
                <div class="panel-body">
                    <div class="clearfix"></div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered dt-responsive nowrap" id="teamList">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $( document ).ready(function() {
            loadTable();

        });
        var csrf_name = "{{ csrf.name | raw }}";
        var csrf_value= "{{ csrf.value | raw }}";

        function loadTable()
        {

            $('#teamList').dataTable( {
                "destroy": true,
                "data":{{ data | raw}},
                "columns": [
                    {"data": "team_id"},
                    {"data": "team"},
                    {"data": "category"},
                    {
                        "targets": 0,
                        "data": function ( row, type, val, meta ) {
                            return row;
                        },
                        "render": function ( data, type, full, meta ) {
                            $('[data-toggle=confirmation]').confirmation({
                                rootSelector: '[data-toggle=confirmation]',
                                container: 'body',
                                onConfirm: function(){
                                    var teamId = this.attr('id');
                                    var active = this.attr('active');
                                    $.ajax({
                                        method: "PUT",
                                        url: "{{ path_for('team') }}",
                                        data: { teamId: teamId, value: active==='1'?0:1 ,csrf_name : csrf_name,csrf_value : csrf_value }
                                    })
                                        .done(function( msg ) {
                                            var res = JSON.parse(msg);
                                            csrf_value = res.csrf_value;
                                            csrf_name = res.csrf_name;
                                            if(active==='1'){
                                                $("#"+teamId+".isInactive").show().attr('active','0');
                                                $("#"+teamId+".isActive").hide();
                                            }else{
                                                $("#"+teamId+".isActive").show().attr('active','1');
                                                $("#"+teamId+".isInactive").hide();
                                            }
                                        });
                                },
                                onCancel: function(){
                                    console.log("se cancelo la accion");
                                }
                            });
                            return '<a href="#" class="btn btn-xs btn-success isActive" id="'+data.team_id+'" style="display:'+(data.active?"inline":"none")+'">\
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;Editar</a>\
                                    <button value="'+data.id+'" class="blockaff btn btn-xs btn-danger isActive" type="button"\
                                    data-toggle="confirmation"\
                                    data-title="Esta seguro de bloquear este equipo?"\
                                    data-btn-ok-label="Si"\
                                    data-btn-cancel-label="No"\
                                    style="display:'+(data.active?"inline":"none")+'"\
                                    id="'+data.team_id+'"\
                                    active="'+data.active+'">\
                                        <span class="fa fa-ban" aria-hidden="true"></span>&nbsp;Bloquear</div>\
                                   </button>\
                                   <button value="'+data.id+'" class="actaff btn btn-xs btn-success isInactive" type="button"\
                                    data-toggle="confirmation"\
                                    data-title="Esta seguro de activar este equipo?"\
                                    data-btn-ok-label="Si"\
                                    data-btn-cancel-label="No"\
                                    style="display:'+(data.active?"none":"inline")+'"\
                                    id="'+data.team_id+'"\
                                    active="'+data.active+'">\
                                        <span class="fa fa-check" aria-hidden="true"></span>&nbsp;Habilitar</div>\
                                   </button>';
                        }
                    }
                ],
                "language": {
                    "url": "{{ path_for('datatable.languaje') }}"
                }
            } );
        }

        $()
    </script>
{% endblock %}